services:
  api:
    build: .
    ports:
      - "8000:3000"
    depends_on:
      - postgres
    env_file:
      - ./.env
    volumes:
      - "./:/usr/src/app"

  postgres:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: audiophile_api
      POSTGRES_PASSWORD: postgres
