services:
  api:
    build: .
    ports:
      - "8000: 3000"
    depends_on:
      - postgres
    env_file:
      - ./.env
  
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: audiophile-api
      POSTGRES_PASSWORD: postgres
